<div id="<%= dom_id announcement %>">
  <p>
    <strong>Title:</strong>
    <%= announcement.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= announcement.description %>
  </p>
  <p>
    <strong>Created:</strong>
    <%= announcement.created_at %>
  </p>

  <p>
    <strong>Updated:</strong>
    <%= announcement.updated_at %>
  </p>

</div>
