<h1 class="text-3xl font-bold">Announcements</h1>

<table class="listing" summary="Announcement list" style="width: 75%; margin-left: auto; margin-right: auto;">
  <tr class="header">
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

  <% @announcements.each do |a| %>
    <tr class="text-center">
      <td><%= a.title %></td>
      <td><%= a.description %></td>
      <td class="actions"> 
        <%= link_to "Show", announcement_path(a), class: 'action show' %>
        <%= link_to "Edit", edit_announcement_path(a), class: 'action show' %>
        <%= link_to "Delete", delete_announcement_path(a), class: 'action show' %>
      <td>
    </tr>
  <% end %>

</table>

<%= link_to "Add New Announcement", new_announcement_path %>
