<div id="<%= dom_id polling %>">
  <p>
    <strong>Question:</strong>
    <%= polling.question %>
  </p>

  <p>
    <strong>Answer1:</strong>
    <%= polling.answer1 %>
  </p>

  <p>
    <strong>Answer2:</strong>
    <%= polling.answer2 %>
  </p>

  <p>
    <strong>Answer3:</strong>
    <%= polling.answer3 %>
  </p>

  <p>
    <strong>Answer4:</strong>
    <%= polling.answer4 %>
  </p>

</div>
