<%# List out all events by event_type and maps which events a user has been to in the user profile.%> 
<div class="flex items-center justify-center">
    <div class="grid lg:grid-cols-3 gap-6 lg:flex lg:justify-center">
    <%# <div class="grid lg:grid-cols-3 gap-12 lg:gap-12 lg:flex lg:justify-center"> %>
    <% @categorize_events.each do | cateogory, events | %>
    
    <div class="w-full max-w-md mx-auto">
        <div class="container mx-auto rounded-lg">
            <div class="shadow shadow-2xl border border-red-900 border-4 rounded-lg p-10 bg-white">
                <div data-controller="read-more">

                    <b class= "block text-xxs uppercase text-center">
                        <% if cateogory == 1 -%> Service
                        <% elsif cateogory == 2 -%> Meeting
                        <% elsif cateogory == 3 -%> Social
                        <% end -%>
                    </b>

                    <ul>
                        <div data-read-more-target="longText">
                        <% events.each do |event| %>
                                <%= check_box_tag "user[event_ids][]", event.id, @user.events.include?(event), :disabled => true %>
                                <%=h event.name %><br />
                                <%# Calculation of attendance score based off event type. Service/Meeting - 2, Service - 1%> 
                                <% if @user.events.include?(event) -%>
                                    <% if event.event_type == 1 or event.event_type == 2 -%>
                                        <% @total_attended  = @total_attended + 2 %>
                                    <% else -%>
                                        <% @total_attended  = @total_attended + 1 %>
                                    <% end -%>
                                <% end -%>
                            <% end %>
                        </div>
                    </ul>

                    <%# If overcluster of events, create a show more feature. %> 
                    <% if events.count >= 5 -%>
                        <ul style="text-left">
                            <div data-read-more-target="shortText">
                                <% events.take(5).each do |event| %>
                                    <%= check_box_tag "user[event_ids][]", event.id, @user.events.include?(event), :disabled => true %>
                                    <%=h event.name %><br />
                                <% end %>
                            </div>
                        </ul>
                        <br>
                        <div class="text-center">
                            <button data-read-more-target="moreButton" data-action="read-more#showMore" class="bg-sky-500 active:bg-sky-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"> Show more </button>
                            <button data-read-more-target="lessButton" data-action="read-more#showLess" class="bg-sky-500 active:bg-sky-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"> Show less </button>
                        </div>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
    <% end %>
</div>
</div>

<br>
<div class="w-full max-w-md mx-auto text-center">
    <div class="container mx-auto rounded-lg" style="width: 60%;">
        <div class="shadow shadow-2xl border border-red-900  border-4 rounded-lg p-10 bg-white">
            <b class= "block text-xxs uppercase"> Total score </b>
            <p class= "block text-lg"><%=h @total_attended %> </p>
        </div>
    </div>
</div>
<br>