<%= form_with(model: user) do |form| %>
    <%# Checks if users inputted has all necessary attributes.%> 
    <% if user.errors.any? %>
      <div style="color: red" class="text-left">
        <h2 class="text-3xl font-bold"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul class=" top-24">
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid lg:grid-cols-2 gap-12 lg:gap-0 lg:flex lg:justify-center lg:items-center">
      <div class="w-full max-w-md mx-auto">
        <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
          <% if Admin.find_by(email: user.email) != nil %>
            <img class="rounded-full object-center" src=<%= Admin.find_by(email: user.email).avatar_url %> referrerpolicy="no-referrer" style="display:block" />
          <% else %>
            <%= image_tag ("blankpfp.jpg"), :class => "rounded-full w-20 h-20" %>
          <% end %>
        </div>

        <div class="text-center">
          <%= form.label :email, required: true, class: "block text-xxs uppercase", style: "font-weight: bold;" %>
          <%# Checks if user email exists to display on user profile OR display current new user's email if new user.%> 
          <%= user.email || current_admin.email %>
        </div>

        <%# Only allow role selection to officers. %>
        <div class="text-center">
            <br>
            <% roleArr = ['Member', 'Officer','President', 'Vice-President']
              roleOptions = roleArr.map.with_index { |gd,idx| [gd, idx]}
            %>

            <%if User.find_by(email: current_admin.email) != nil %>
              <%= form.label :role, required: true, class: "block text-xxs uppercase", style: "font-weight: bold;" %>
              <%# Renders if NOT on user create page %>
              <% if User.find_by(email: current_admin.email).role != 0 %>
                <%= form.select :role, roleOptions, style: "width: 80%; height: 10%"%>
              <% else %>
                <%= form.select :role, roleOptions, {},{:disabled => true}, style: "width: 70%; height: 10%"%>
              <% end %>
            <% end %>

            <%# TODO: THE RESET %>
            <%if User.find_by(email: current_admin.email) != nil %>
              <%# Renders ONLY for president/vice-president. %>
              <% if User.find_by(email: current_admin.email).role > 1 %>
                <br><br>
                <%# TODO: UNCOMMENT TO DISPLAY WHEN USER HAS CLICKED BUTTON TRUE. %>
                <%# if User.find_by(email: current_admin.email).isReset %>
                  <%# <h2 class="text-center font-bold text-red-800 uppercase text-lg">Click again to deactivate reset.</h2> %>
                <%# end %>
                <button class="bg-red-400 active:bg-red-500 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">Activate Yearly Reset</button>
              <% end %>
            <% end %>
            
        </div>
      </div>

      <div class="w-full max-w-md mx-auto" >

          <%= form.label :first, required: true, class: "block text-xxs uppercase", style: "font-weight: bold;" %>
          <%= form.text_field(:first_name, required: true, class: "form-input mt-1 block w-full text-field focus:shadow-outline focus:border-green-300", placeholder: "First Name*", style: "width: 90%; height: 10%") %>

          <%= form.label :last, required: true, class: "block text-xxs uppercase", style: "font-weight: bold;" %>
          <%= form.text_field(:last_name, required: true, class: "form-input mt-1 block w-full text-field focus:shadow-outline focus:border-green-300", placeholder: "Last Name*", style: "width: 90%; height: 10%") %>

          <%= form.label :uin, required: true, class: "block text-xxs uppercase", style: "font-weight: bold;" %>
          <%= form.text_field(:uin, required: true, class: "form-input mt-1 block w-full text-field focus:shadow-outline focus:border-green-300", placeholder: "UIN*", style: "width: 90%; height: 10%", minlength: 9, maxlength: 9, message: "Please enter a valid UIN.") %>

          <%= form.label :phone, required: true, class: "block text-xxs uppercase", style: "font-weight: bold;" %>
          <%= form.text_field(:phone, required: true, class: "form-input mt-1 block w-full text-field focus:shadow-outline focus:border-green-300", placeholder: "Phone (eg. 9797643500)*", style: "width: 90%; height: 10%") %>

          <div class="text-center">
            <% arr = ['Freshman','Sophmore','Junior','Senior','Graduate']
            options = arr.map.with_index { |gd,idx| [gd, idx+1]} %>

            <%= form.label :class, required: true, class: "block text-xxs uppercase", style: "font-weight: bold;" %>
            <%= form.select :classify, options, style: "width: 80%; height: 10%"%>
          </div>

        <div class="text-right">
          <br>
          <button class="bg-sky-500 active:bg-sky-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            <% if User.find_by(email: current_admin.email) != nil %>
              <%= form.submit "Save", :class=> "cursor-pointer" %>
            <% else %>
              <%= form.submit "Submit", :class=> "cursor-pointer" %>
            <% end %>
          </button>
        </div>
  
      </div>
    </div>

</div>
<% end %>