<%= form_with(model: user) do |form| %>
    <%# Checks if users inputted has all necessary attributes.%> 
    <% if user.errors.any? %>
      <div style="color: red">
        <h2 class="text-3xl font-bold absolute"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul class="absolute top-24">
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <br><br>

    <div class="text-center">
      <%= form.label :first, style: "display: block" %>
      <%= form.text_field(:first_name) %>
    </div>
  
    <div class="text-center">
      <br>
      <%= form.label :last, style: "display: block" %>
      <%= form.text_field(:last_name) %>
    </div>
  
    <div class="text-center">
      <br>
      <%= form.label :uin, style: "display: block" %>
      <%= form.text_field(:uin) %>
    </div>
  
    <div class="text-center">
      <br>
      <%= form.label :phone, style: "display: block" %>
      <%= form.text_field(:phone) %>
    </div>

    <div class="text-center">
      <br>
      <%# Map each selection to enumerated val %>
      <% arr = ['Freshman','Sophmore','Junior','Senior','Graduate']
        options = arr.map.with_index { |gd,idx| [gd, idx+1]}
      %>
      <%= form.label :class, style: "display: block"%>
      <%= form.select :classify, options%>
    </div>

    <%# Only display role selection to officers. %>
    <% if User.find_by(email: current_admin.email).role != 0 %>
      <div class="text-center">
        <br>
        <% roleArr = ['Member', 'Officer','President', 'Vice-President']
          roleOptions = roleArr.map.with_index { |gd,idx| [gd, idx]}
        %>
        <%= form.label :role, style: "display: block"%>
        <%= form.select :role, roleOptions%>
      </div>
    <% end %>
  
    <div class="text-center">
      <br>
      <%= form.label :email, style: "display: block" %>
      <%# Checks if user email exists to display on user profile OR display current new user's email if new user.%> 
      <%= user.email || current_admin.email %>
    </div>

    <div class="text-center">
      <br>
      <%= form.submit %>
    </div>
  <% end %>
  </div>