<div id="users">
    <%# Display all members in table format%> 
    <table style="width: 70%; margin-left: auto; margin-right: auto;" class="table-auto">
        <thead class="text-white uppercase bg-maroon dark:bg-maroon dark:text-white ">
            <tr>
                <th id="users-uin" > 
                    <%= sortable "uin" %></th>
                <th id="users-first_name">
                    <%= sortable "first_name", "First Name" %></th>
                </th>
                <th id="users-last_name">
                    <%= sortable "last_name", "Last Name" %></th>
                </th>
                <th id="users-classify">
                    <%= sortable "classify", "Year" %></th>
                </th>
                <th id="users-email">
                    <%= sortable "email", "Email" %></th>
                </th>
                <th id="users-phone">
                    <%= sortable "phone", "Phone" %></th>
                </th>
                <th id="users-role">
                    <%= sortable "role", "Role" %></th>
                </th>
                <th id="users-activate">
                    Active</th>
                </th>
            </tr>
        </thead>

        <tbody>
            <% @users.each do |user| %>
                <tr class="<%= cycle('bg-khaki', 'bg-gray-100') %>">
                <td class="text-center"><%= link_to user.uin, edit_user_path(user), class: 'action show' %></td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td class="text-center">
                    <% if user.classify == 1 -%>
                        U1
                    <% elsif user.classify == 2 -%>
                        U2
                    <% elsif user.classify == 3 -%>
                        U3
                    <% elsif user.classify == 4 -%>
                        U4
                    <% else -%>
                        G
                    <% end -%>
                </td>
                <td><%= user.email %></td>
                <td class="text-center"><%= number_to_phone(user.phone) %></td>
                <td class="text-center">
                <% if user.role == 1 -%>
                        Officer
                    <% elsif user.role == 2 -%>
                        Committee
                    <% else -%>
                        Member
                    <% end -%>
                </td>
                <td class="text-center"><%= check_box_tag 'isActive', 'true', user.isActive, id: 'isActive' %></td>
                </tr>
            <% end %>
    </tbody>

    </table>
</div>