<div class="container mx-auto rounded-lg" style="width: 50%;">
  <br>
  <div class="shadow shadow-2xl border border-red-900  border-4 rounded-lg p-10 bg-white">
    
    <%= link_to("Back", root_path, class: "bg-sky-500 active:bg-sky-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150")%>

    <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
      <%= image_tag ("SnSnoBg.png"), :class => "w-20 h-20" %>
    </div>

    <h1 class="font-bold text-2xl text-center text-red-800">Are you sure you want to activate the reset?</h1>
    <br>
    <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
        <%= link_to image_tag("StopSign.png"), "/"  %> 
    </div>
    <h2 class="text-center font-bold text-red-800 uppercase text-lg">This change will be irreversible.</h2>
    <%# Todo: Add link to the FAQ %>
    <p class="text-center text-lg">For more information about the reset, please click <b><a href="<%= '/faq' %>">here.</a></b></p>
    
    <br>
    <div class="text-center">
        <a href="<%=reset_path%>" class="bg-red-400 active:bg-red-500 focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-6 py-3.5 text-center px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 uppercase font-bold text-xl">Reset Now</a>
    </div>
  </div>
</div>
<br>