<div>
    <br>
    <h1 class="text-3xl font-bold text-center">Editing User</h1>

    <%= render "form", user: @user %>
    <br>

    <%# List out all events and maps which events a user has been to in the user profile.%> 
    <br>
    <div class="text-center">
      <%= form_for(@user) do |f| %>
        <p>
          <%= f.label :events%> Attended: <br />
          <% for event in Event.all %>
            <%= check_box_tag "user[event_ids][]", event.id, @user.events.include?(event) %>
            <%=h event.name %><br />
          <% end %>
        </p>
      <% end %>

  <%= link_to "Back to member directory", users_path %>
</div>