<div>
  <div class="container mx-auto">
    <br>
    <h1 class="text-3xl font-bold text-center">Member Directory</h1>
  </div>
</div>

<%# Search bar %>
<div class="container mx-auto px-10 search">
    <%= form_tag(users_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Enter name or surname..." %>
        <%# Filter between isActive (activated/deactivated) & isRequesting (in queue). %>
        <%= select_tag :category, options_for_select(["Active", "Deactive", "Approval"], params[:category]), onchange: "this.form.submit();", include_blank: "" %>
    <%= submit_tag 'Search', name: nil %>
    <% end %>

  <br>
  <div>
  <%# Allow for altering size of table %>
  Show <%= select_tag :per_page, options_for_select([10, 20, 50, 100], params[:per_page].to_i),
        :onchange => "if(this.value){window.location='?per_page='+this.value;}" %> entries
  </div>
  <br>
</div>

<br>
<div>
<%# Allow for altering size of table %>
Show <%= select_tag :per_page, options_for_select([10, 20, 50, 100], params[:per_page].to_i),
       :onchange => "if(this.value){window.location='?per_page='+this.value;}" %> entries
       
<%= render "user", users: @users %>

<%# Paginate users table %>
<br>
<div class="mx-auto text-center my-4">
  <%= will_paginate @users %>
</div>