<div class="container mx-auto">
  <br>
  <h1 class="text-3xl font-bold text-center">Member Directory</h1>

<%# Search bar %>
<br>
<div class="container mx-auto px-10">
    <div style="width: 40%; float: left;">
      <%= form_tag(users_path, method: :get) do %>
          <%= text_field_tag :search, params[:search], placeholder: "Enter name or surname..." %>
          <%# Filter between isActive (activated/deactivated) & isRequesting (in queue). %>
          <%= select_tag :category, options_for_select(["Active", "Deactive", "Approval"], params[:category]), onchange: "this.form.submit();"%>
          <button class="bg-sky-500 active:bg-sky-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            <%= submit_tag 'Search', name: nil, :class=> "cursor-pointer" %>
          </button>
    </div>
    <div style="float: right">
      <%# Allow for altering size of table %>
      Show <%= select_tag :per_page, options_for_select([10, 20, 50, 100], params[:per_page].to_i),
          :onchange => "if(this.value){window.location='?per_page='+this.value;}" %> entries
      <% end %>
    </div>
  <br>


  <br><br>
  <%= render "user", users: @users %>

  <%# Paginate users table %>
  <br>
  <div class="mx-auto text-center my-4">
    <%= will_paginate @users %>
  </div>

</div>