<%# Only display table if there are users attendance to be viewed. -%>
<% if @users.count > 0 -%>
    <p style="text-indent: 15%;">Total attendees: <%=h @users.count %> </p>
    <table style="width: 70%; margin-left: auto; margin-right: auto;" class="table-auto pretty">
        <thead class="text-white uppercase bg-maroon dark:bg-maroon dark:text-white ">
            <tr>
                <th><%= sortable "uin" %></th>
                <th><%= sortable "first_name", "First Name" %></th>
                <th><%= sortable "last_name", "Last Name"%></th>
                <th><%= sortable "email", "Email" %></th>
                <th><%= sortable "phone", "Phone" %></th>
                <th>Remove</th>
            </tr>
        </thead>
        
        <tbody>
            <% @users.each do | user | %>
                    <tr class="<%= cycle('bg-khaki', 'bg-gray-100') %>">
                        <td class="text-center"><%= link_to user.uin, edit_user_path(user), class: 'action show' %></td>
                        <td><%=h user.first_name %></td>
                        <td><%=h user.last_name %></td>
                        <td><%=h user.email %></td>
                        <td class="text-center"><%=h number_to_phone(user.phone) %></td>
                        <td class="text-center">
                            <button class="bg-red-400 active:bg-red-500 h-6 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 text-center" type="button">
                                <%= link_to "X", delete_user_event_path(UserEvent.where("user_id = ? AND event_id = ?", user.id, @event.id).ids.first)%>
                            </button>
                        </td>
                    </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
