
<div>
  <div class="container mx-auto">
    <br>
    <%# Conditionally render create new event to only officers %>
    <% if User.find_by(email: current_admin.email).role == 1 %>
      <%= link_to("Create new event", new_event_path, class: "action new")%>
    <%end%>
    <h1 class="text-3xl font-bold text-center">Events</h1>
    <br>
  </div>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container mx-auto px-10">
  <div>
    <%= render "events_search" %>
  </div>
  <div>
    <%= button_to "Previous Events", previous_event_path(0), method: :get, class:"myClass" %>
  </div>
</div>


<% @events.each do |event|%>

<br>
<%= link_to event_path(event), class: 'action show' do%>
<div class="container mx-auto rounded-lg px-10">
  <div class="shadow shadow-2xl border border-red-900  border-4 rounded-lg p-10">
      <h1 class = "text-left"><%= event.name %></h3>
      <h2 class = "text-right"><%= event.date.strftime("%m/%d/%Y") %></h2>
      <%# only renders start_time & end_time if they are presesnt can have custom styling %>
      <% if event.start_time%>
        <%= render "events_time", locals: { event: event, style: "text-right" } %>
      <%end%>
      <h2>Type: <%= event.formatted_type %></h2>
      <p> <%= event.description %> <p>
      <%# Conditionally render edit/delete links to only appear for officers %>
      <% if User.find_by(email: current_admin.email).role == 1 %>
        <%= link_to("Edit", edit_event_path(event), class: 'action edit')%>
        <%= link_to("Delete", delete_event_path(event), class: 'action delete')%>
      <%end%>
      <br>
    </div>
</div>
<%end%>

  <%# checks event date and compares it to current date. Only renderes the events that are either today or later %>
  <%= render(:partial => "events_card", :locals => {:event => event}) if event.date >= Time.now.to_date%>
  <br>
<%end%>