<%= stylesheet_link_tag 'events-index.css' %>
<%#= render "nav-bar" %>
<h1 class="text-3xl font-bold">Events Index</h1>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% @events.each do |event|%>
<div class="events_container">
    <div class = "events_list">
        <h1>Event: <%= event.name %></h3>
        <h2>When: <%= event.date %></h2>
        <h2>Type: <%= event.event_type %></h2>
        <%# In the future make it so the edit/delete links only appear for officers or only the officer who made it %>
        <%= link_to("Edit", edit_event_path(event), class: 'action edit')%>
        <br>
        <br>
        <br>
        <%= link_to("Delete", delete_event_path(event), class: 'action delete')%>
    </div>
    <p> <%= event.description %> <p>
</div>
<%end%>
<%= link_to("Create new event", new_event_path, class: "action new")%>