<br>
<br>
<div class="container mx-auto rounded-lg" style="width: 50%;">
    <div class="shadow shadow-2xl border border-red-900  border-4 rounded-lg p-10" style="background-color: white">
        <br>
        <h1 class="break-words text-3xl font-bold"><%= @event.name%></h1>
        <h2 class = "text-maroon font-bold"><%= @event.formatted_type %></h2>
        <h3 class = "font-bold"><%= @event.date.strftime("%m/%d/%Y") %></h3>
        <% if @event.start_time%>
            <%= render "events_time", locals: { event: @event, style: "font-bold" } %>
        <%end%>
        <div class="container mx-auto">
            <br>
            <p class = "break-words text-3xl font-bold"><%= @event.description%></p>
        </div>
        <%# Conditionally render UIN submission for user event creation as well as the event attendance. Only allow officers to see this! %>
        <% if User.find_by(email: current_admin.email).role > 0 %>
            <br>
            <div class = "flex justify-center">
                <div>
                    <br>
                    <%= @event.qrcode(@event.id).html_safe%>
                </div>
            </div>

            <div class = "flex justify-center">
                <%= form_for( @user_event, :url => user_event_path(@event.id), :html => { :method => :post }) do |form| %>
                <% if @user_event.errors.any? %>
                    <div style="color: red">
                    <h2><%= pluralize(@user_event.errors.count, "error") %> prohibited this event from being saved:</h2>

                    <ul>
                        <% @user_event.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                        <% end %>
                    </ul>
                    </div>
                    <br>
                <% end %>

                <div class="text-center">
                    <br>
                    <%= form.hidden_field :attendance, value: true %>
                    <%= form.hidden_field :event_id, value: @event.id %>
                    <%= form.label :user_id, "Member", class: "block text-xxs uppercase", style: "font-weight: bold;"%>
                    <%= form.text_field(:user_id, required: true, placeholder: "UIN*", minlength: 9, maxlength: 9) %>
                    <%= form.submit "Check-in", :class=> "cursor-pointer w-[72px] h-[32px] bg-sky-500 active:bg-sky-600 font-bold uppercase text-xs rounded shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150" %>
                </div>
                <% end %>
                <br>
                <br>
            </div>
                <%end%>
    </div>
</div>


<%# Conditionally render UIN submission for user event creation as well as the event attendance. Only allow officers to see this! %>
<% if User.find_by(email: current_admin.email).role > 0 %>


    <%# Display all user attendance for event. -%>
    <br>
    <%= render "events_user" %>
    <div class="mx-auto text-center my-4">
        <%= will_paginate @users %>
    </div>
    <br>

<%end%>