
<div class="container mx-auto">
    <br>
    <h1 class="text-3xl font-bold"><%= @event.name%></h1>
    <h2 class = "text-maroon font-bold"><%= @event.formatted_type %></h2>
    <h3 class = "font-bold"><%= @event.date.strftime("%m/%d/%Y") %></h3>
    <% if @event.start_time%>
        <%= render "events_time", locals: { event: @event, style: "font-bold" } %>
    <%end%>
</div>

<div class="container mx-auto">
    <br>
    <p class = "text-3xl font-bold"><%= @event.description%></p>
</div>

<div class = "container mx-auto">
    <%= form_for( @user_event, :url => user_event_path( @user_event ), :html => { :method => :post } ) do |form| %>
    <% if @user_event.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(@user_event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
            <% @user_event.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
        <br>
    <% end %>

    <div>
        <br>
        <%= form.hidden_field :attendance, value: true %>
        <%= form.hidden_field :event_id, value: @event.id %>
        <%= form.label :user_id, style: "display: block" %>
        <%= form.text_field(:user_id,  placeholder: "UIN") %>
    </div>

    <div>
        <br>
        <%= form.submit %>
    </div>
<% end %>
</div>