
<div class="container mx-auto">
    <br>
    <h1 class="text-3xl font-bold"><%= @event.name%></h1>
    <h2 class = "text-maroon font-bold"><%= @event.formatted_type %></h2>
    <h3 class = "font-bold"><%= @event.date.strftime("%m/%d/%Y") %></h3>
    <% if @event.start_time%>
        <%= render "events_time", locals: { event: @event, style: "font-bold" } %>
    <%end%>
</div>

<div class="container mx-auto">
    <br>
    <p class = "text-3xl font-bold"><%= @event.description%></p>
</div>