<br>
<div class="flex text-center">
    <div class="container mx-auto rounded-lg text-center" style="width: 60%;">
    <br>
        <div class="shadow shadow-2xl border border-red-900  border-4 rounded-lg p-10 bg-white">
            <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
                <%= image_tag ("SnSnoBg.png"), :class => "w-20 h-20" %>
            </div>

            <%= form_for( @user_event, :url => user_event_path(params[:event_id],2), :html => { :method => :post } ) do |form| %>
                <% if @user_event.errors.any? %>
                    <div style="color: red">
                    <h2><%= pluralize(@user_event.errors.count, "error") %> prohibited this event from being saved:</h2>

                    <ul>
                        <% @user_event.errors.each do |error| %>
                        <li> <%= error.full_message %> </li>
                        <% end %>
                    </ul>
                    </div>
                    <br>
                <% end %>

                <div>
                    <h1 class="break-words font-bold text-2xl text-center text-maroon">Welcome!</h1><br>
                    <%= form.hidden_field :attendance, value: true %>
                    <%= form.hidden_field :event_id, value: params[:event_id] %>
                    <%= form.hidden_field :user_id, value: User.find_by(email: current_admin.email).id %>

                    <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
                        <%= image_tag "CuteCow.gif", style: 'height:40%; width:40%;' %>
                    </div>
                <div>
                    <%= form.submit "Check in", :class=> "cursor-pointer w-[72px] h-[32px] bg-sky-500 active:bg-sky-600 font-bold uppercase text-xs rounded shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150 w-full" %>
                </div>
            <% end %>
        </div>
    </div>
    <br>
</div>