<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>
  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>
  <p>
    <strong>Published Date:</strong>
    <%= book.publishedDate %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= book.created_at %>
  </p>

  <p>
    <strong>Updated:</strong>
    <%= book.updated_at %>
  </p>

</div>
