<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<%= link_to "Add New Book", new_book_path %>

<table class="listing" summary="Book list" style="width: 75%; margin-left: auto; margin-right: auto;">
  <tr class="header">
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
    <th>Published Date</th>
    <th>Actions</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.price %></td>
      <td><%= book.publishedDate %></td>
      <td class="actions"> 
        <%= link_to "Show", book_path(book), class: 'action show' %>
        <%= link_to "Edit", edit_book_path(book), class: 'action show' %>
        <%= link_to "Delete", delete_book_path(book), class: 'action show' %>
      <td>
    </tr>
  <% end %>

</table>
