<div class="grid place-items-center"> 
    <h1 class="text-3xl font-bold text-center">You're logged in!<br> Welcome to the Admin Dashboard!</h1>
    <%# FOR TESTING, will be removed %>
    <%= button_to "Swap Role", "/swapRole", method: :put%>
</div>

<%# ANNOUNCEMENT FEED DIV!%>
<%# style directions make scrollbar on left! %>
<%# w-[404px] prevents horizontal scrollbar %>
<div class="w-[404px] h-[430px] overflow-auto border-2 border-gray-200 rounded-lg ml-4" style="direction:rtl">
    <% @announcements.each do |ann|%>
        <%# Vars for like button interaction %>
        <% like = UserAnnouncement.where(announcement_id: ann.id).length %>
        <% not_liked = UserAnnouncement.where(announcement_id: ann.id, user_id: @user_id).empty?%>
        <% ann_id = ann.id %>
        <br>

    <%# Individual Announcement! %>
    <div class="container w-96 h-16 rounded-lg px-10" style="direction:ltr" id="annBox">
        <%= link_to announcement_path(ann), class: 'action show' do%>
        <div class="h-16 border-gray-200 border-2 rounded-sm p-5 transition duration-700 ease-in-out 
                     hover:bg-gray-100 transform 
                       hover:-translate-y-1 hover:scale-110">
            <h1 class = "grid place-items-center"><%= ann.title %></h3>
        </div>
    </div>
    <%end%>
        <div class="relative mb-4 mt-1">
        <%# TURBO START %>
        <%= turbo_frame_tag "like" do%>
            <%= render(partial: "likes", locals:  {like: like, not_liked: not_liked, user_id: @user_id, announcement_id: ann_id} ) %>
        <%# TURBO END %>
        <%end%>
        </div>
    <%end%>

</div>