<!DOCTYPE html>
<html>
  <head>
    <title>TAMU Saddle & Sirloin Club</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="assets/SnSnoBg.png" sizes="48x48" referrerpolicy="no-referrer">
    <%# Google Icons %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
        /* OAUTH */
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>

  </head>

 <%# Displays the nav bar on all pages EXCEPT sign in, new user creation and waiting queue  %>
  <% if !current_page?("/admins/sign_in") && !current_page?("/users/new") && !current_page?("/waiting") && !@error%>
    <header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02">
      <!-- navigation -->
      <nav class="nav font-semibold text-lg">
        <ul class="flex items-center">
          <li>
            <%# Customer Logo (/app/assets/images) %>
            <%= link_to image_tag("SnS.jfif", height: 40, width: 40), "/"  %> 
          </li>
          <a href="/announcements">
            <li class="p-4 border-b-2 border-maroon border-opacity-0 hover:border-opacity-100
            hover:text-maroon duration-200 cursor-pointer active">Announcements</li>
          </a>
          <a href="/calendar">
            <li class="p-4 border-b-2 border-maroon border-opacity-0 hover:border-opacity-100
            hover:text-maroon duration-200 cursor-pointer active">Calendar</li>
          </a>
          <a href="/events">
            <li class="p-4 border-b-2 border-maroon border-opacity-0 hover:border-opacity-100
            hover:text-maroon duration-200 cursor-pointer active">Events</li>
          </a>
          <% if User.find_by(email: current_admin.email).role > 0 %>
            <a href="/users">
              <li class="p-4 border-b-2 border-maroon border-opacity-0 hover:border-opacity-100
              hover:text-maroon duration-200 cursor-pointer active">Members</li>
            </a>
          <%end%>
        </ul>
      </nav>
      
      <!-- profile picture/sign-out -->
      <div class="w-3/12 flex justify-end mr-4 relative">
      <%# UPDATED hat line to use rails asset pipeline (Fixes not showing on ID'd pages) %>
      <div class="absolute z-10 -mt-3" style="width:37.83px; height:19.58px;"> <%= image_tag "CBHresize.png" %> </div>
        <div class="group dropdown relative font-semibold">
          <label tabindex="0">
            <img class="rounded-full w-11 h-11 z-0 cursor-pointer" src=<%= current_admin.avatar_url %> referrerpolicy="no-referrer"/>
          </label>
          <ul tabindex="0" class="absolute hidden group-hover:block bg-white shadow-md w-20 mr-3">
            <li class="cursor-pointer h-8 text-center bg-white hover:text-maroon duration-200"><a><%= link_to "Sign Out", destroy_admin_session_path %><a></li>
          </ul>
        </div>

    </header>
  <% end %>
  


  <%# Oauth action alerts %>
  <% if flash.any? %>
    <% flash.each do |key, value| -%>
      <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
    <% end -%>
  <% end %>

  <body style="background: #f5f7fa;">
    <main>
      <%= yield %>
    </main>

  </body>
</html>
